body, .default{
    line-height: 1.7em;
    font-size: 12px;
    color: #666;
}

#enfasis-columna{
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

#enfasis-columna caption{
    font-size: 25px;
}

#enfasis-columna th{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #309;
}

#enfasis-columna td{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8e;
}

.columna{
    background: #ffcc33;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent
}

#enfasis-columna tr:hover td{
    color: #399;
    background: #eff2ff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}